@charset "UTF-8";

html {
	margin: 0px;
	height: 100%;
}

body {
	height: 100%;
	background-color: white;
	font-size: 12pt;
	font-family: sans-serif;
	margin: 0px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

header {
	display: inline-block;
	margin: 0 auto;
}

header ul {
	display: inline;
	padding-left: 0.3em;
	text-align: center;
}

header ul li {
	display: block;
	float: left;
	padding: 0.5em;
}

header ul li a {
	color: darkgreen;
	font-weight: bold;
	font-size: 2.5vmin;
	text-transform: uppercase;
	text-decoration: none;
}

header ul li a:hover {
	opacity: 60%;
}

article {
	flex: 1;
	width: 100%;
	background-color: honeydew;
	margin: 0;
	padding: 0;
	overflow-y: auto;
}

h1 {
	text-transform: uppercase;
	color: darkgreen;
	text-align: center;
	font-size: 6vw;
	padding: 0;
}

article ul {
	margin: 0.5em;
	padding: 0;
	counter-reset: item;
}

article ul li {
	background-color: darkgreen;
	color: honeydew;
	padding: 0.2em 0.5em 0.2em 0.5em;
	display: block;
}

article ul a {
	color: orange;
	font-weight: bold;
}

article ul a:visited {
	color: lavender;
}

pre code {
	font-size: 0.8em;
	tab-size: 4;
	-moz-tab-size: 4; 
	background-color : honeydew;
	color: darkgreen;
	width: 99%;
	margin: 0 auto;
	overflow: auto;
	display: inline-block;
	background-color: honeydew;
}

footer {
	padding: 0.2em 0.5em 0.2em 0.5em;
	margin: 0px;
	font-size: 0.8em;
	text-align: justify;
	display: block;
}

.bchaddress {
	font-size: 0.65em;
}